body {
    background: url(https://image.freepik.com/free-vector/dark-wavy-background-gradient_23-2148385755.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bandify {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: white;
    font-size: 180px;
    display: inline-block;
    text-align: center;
    margin-top: -45px;
}

@media only screen and (max-width: 767px) {
    .responsive { 
    font-size: 90px !important;
    margin-top: 0px !important;
    }
}

header {
    text-align: center;
}

footer {
    background-color: black;
    position:fixed; 
    bottom:0; 
    width:100%; 
    height:80px;
    color: white;
    border-color: fuchsia;
    border-top-style: solid;
    border-width: 2px;
    border-bottom-style: solid;
    font-family: 'Montserrat Subrayada';
}

.footerlinks {
    color: rgb(224, 20, 88);
}

select {
    border-radius: 10px 0 0 10px;
    background-color: rgb(224, 20, 88);
    color: white;
    border: solid 1px black;
}

select:focus {
    background-color: rgb(224, 20, 88);
}

#searchBtn {
    border-radius: 0 10px 10px 0;
    height: 39px;
    background-color: rgb(224, 20, 88);
    border: solid 1px black;
}

#searchInput {
    border: solid 1px black;
}

.scroll {
    background-color: rgba(7, 7, 146, 0.5);
    width: 25%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
}

#bandsList {
    float: right;
    background-color: rgba(255, 0, 255, 0.5);
    color: whitesmoke;
}

.bandscontainer {
    width: 25%;
    float: right;
}
 
.containerEdge {
    border-radius: 10px;
}

#songsList {
    color: whitesmoke;
}

#parentPlayer{
    margin-bottom: -78px;
    position: fixed;
    bottom: 0;
}

#player{
    height: 100%;
}

.songId {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: fuchsia;
    list-style-type: none;
    margin-bottom: 2px;
}
